/* 
    Created on : 11-Sep-2014, 8:02:52 PM
    Author     : Konstantin Koton
*/
html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body > header {
    float: left;
}

body > main {
    position: relative;
    display: block;
    height: 100%;
    padding: 0;
}

body header img {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    position: relative;
    border: 1px solid black;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #cc6600;
}

nav ul li.disabled {
    color: #777777;
    background-color: #cccccc;
}

nav ul li.disabled:hover {
    background-color: #cccccc;
}

body article {
    position: relative;
    border: 1px solid black;
    z-index: 0;
    overflow: hidden;
}

body article section {
    text-overflow: ellipsis;
}

body > footer {
    position: absolute;
    bottom: 0;
}

.selected {
    background-color: #ff9966;
    border-right: 1px solid #ff9966;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -2px 2px 2px #666666;
    z-index: 99;
}

.selected.disabled {
    background-color: #cc6633;
}

.selected.disabled:hover {
    background-color: #cc6633;
}

@media (min-width: 1200px) {
    html, body {
        font-size: 16px;
    }

    body > header, body > main, body > footer {
        padding: 16px;
    }

    body > header {
        width: 200px;
    }

    body > main {
        margin: 0 0 0 216px;
    }

    body header img {
        height: 200px;
        width: 200px;
    }

    nav ul li {
        border-radius: 8px;
    }

    body article {
/*        top: 16px; */
        height: calc(100% - 64px);
/*        margin: 0 16px; */
        border-radius: 16px;
    }

    body article section {
        padding: 16px;
    }

    body > footer {
        height: 16px;
    }

    .selected {
        width: 183px;
    }
}

@media (max-width: 1199px) {
    html, body {
        font-size: 12px;
    }

    body > header, body > main, body > footer {
        padding: 12px;
    }

    body > header {
        width: 100px;
    }

    body > main {
        margin: 0 0 0 112px;
    }

    body header img {
        height: 100px;
        width: 100px;
    }

    nav ul li {
        border-radius: 6px;
    }

    body article {
/*        top: 12px; */
        height: calc(100% - 48px);
/*        margin: 0 12px; */
        border-radius: 12px;
    }

    body article section {
        padding: 12px;
    }

    body > footer {
        height: 12px;
    }

    .selected {
        width: 87px;
    }
}

@media (max-height: 500px) {
    html, body {
        font-size: 8px;
    }

    body > header, body > main, body > footer {
        padding: 8px;
    }

    body > header {
        width: 80px;
    }

    body > main {
        margin: 0 0 0 88px;
    }

    body header img {
        height: 80px;
        width: 80px;
    }

    nav ul li {
        border-radius: 6px;
    }

    body article {
/*        top: 8px; */
        height: calc(100% - 32px);
/*        margin: 0 8px; */
        border-radius: 8px;
    }

    body article section {
        padding: 8px;
    }

    body > footer {
        height: 8px;
    }

    .selected {
        width: 71px;
    }
}
