/* 
    Created on : 11-Sep-2014, 8:02:52 PM
    Author     : Konstantin Koton
*/
html, body {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    font-family: 'VT323', Consolas;
    background: #9bddff;
}

body > header {
    float: left;
}

body > main {
    position: relative;
    display: block;
    height: 100%;
    padding: 0;
}

body header img {
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    position: relative;
    border: 1px solid black;
    padding: 0.25em 1em;
    margin: 0.25em 0;
    cursor: pointer;
    background: white;
    transition: background 0.4s linear;
}

nav ul li:hover {
    background-color: #cc6600;
}

nav ul li.disabled {
    color: #777777;
    background-color: #cccccc;
}

nav ul li.disabled:hover {
    background-color: #cccccc;
}

body article {
    position: relative;
    background: white;
    border: 1px solid black;
    z-index: 0;
    overflow: auto;
}

body article section {
    text-overflow: ellipsis;
}

body > footer {
    position: absolute;
    display: block;
    bottom: 0;
}

.selected {
    background-color: #ff9966;
    border-right: 1px solid #ff9966;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: -2px 2px 2px #666666;
    z-index: 99;
}

.selected.disabled {
    background-color: #cc6633;
}

.selected.disabled:hover {
    background-color: #cc6633;
}

section h1 {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 0.5em;
}

section p {
    padding: 0.5em 0;
}

ul {
    list-style-type: disc;
}

ul li {
    margin-left: 2em;
}

ul ul {
    list-style-type: square;
    padding-top: 0.5em;
}

ul ul li {
    margin-left: 2em;
}

address {
    padding-left: 2em;
}

address.mail {
    font-style: italic;
}

form fieldset {
    display: inline-block;
    padding: 1em;
    border: 1px solid gray;
    width: 90%;
}

form label {
    display: inline-block;
    width: 4em;
    vertical-align: top;
}

form textarea {
    margin-top: 4px;
}

div.form_input {
    display: block;
}

#name, #email, #subject, #message {
    background: #9bddff;
    width: 29em;
}

#message {
    width: 30em;
    height: 10em;
}

section.footer {
    position: relative;
    display: block;
    text-align: center;
}

section.footer ul {
    list-style-type: none;
}

section.footer ul li {
    display: inline-block;
    margin: 0;
    width: 45%;
    cursor: pointer;
}

section.footer div.legal ul li {
    display: inline-block;
    width: 100%;
}

section.footer ul li:first-child {
    display: inline-block;
    width: 100%;
}

section.footer ul li img {
    width: 48px;
    height: 48px;
}

section.footer div.copy {
    position: absolute;
    display: inline-block;
    left: 0;
}

section.footer div.legal {
    position: absolute;
    display: inline-block;
    width: 10em;
}

section.footer div.social {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 10em;
}

div.social .sliding-panel, div.legal .sliding-panel {
    border: 1px solid black;
    border-radius: 8px;    
}

section.footer div.legal .closed:hover, section.footer div.social .closed:hover {
    cursor: pointer;
    background: white;
    transition: background 0.4s linear;
}

section.footer .sliding-panel.open {
    display: none;
    background: white;
    overflow: hidden;
}

section.footer .open li:hover {
    background: #9bddff;
}

section.footer .open li.white:hover {
    background: white;
}

h3 {
    margin-top: 0.5em;
    font-size: 140%;
    font-weight: bold;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

p.call-to-action {
    text-align: center;
}

a.call-to-action, a.project-link {
  background: #4fb4f7;
  background-image: -webkit-linear-gradient(top, #4fb4f7, #2980b9);
  background-image: -moz-linear-gradient(top, #4fb4f7, #2980b9);
  background-image: -ms-linear-gradient(top, #4fb4f7, #2980b9);
  background-image: -o-linear-gradient(top, #4fb4f7, #2980b9);
  background-image: linear-gradient(to bottom, #4fb4f7, #2980b9);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  text-shadow: 3px 3px 3px #000000;
  -webkit-box-shadow: 2px 2px 3px #000000;
  -moz-box-shadow: 2px 2px 3px #000000;
  box-shadow: 2px 2px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 12px 24px 12px 24px;
  text-decoration: none;
}

a.call-to-action:hover, a.project-link:hover {
  background: #3d3f40;
  text-decoration: none;
}

section div.row {
    border: 3px black ridge;
    margin-bottom: 2em;
    padding: 0.5em;
    box-sizing: border-box;
}

section .left, section .right {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

section .full-width {
    display: block;
    text-align: center;
    vertical-align: middle;
    height: 2em;
}

section div.row img {
    width: 100%;
    border: 1px solid black;
}

section div.row p {
    padding-top: 0;
    line-height: 0.8em;
}

section.breadcrumbs {
    padding: 0;
    font-size: 50%;
    margin-left: 2em;
}

section.breadcrumbs ul {
    list-style-type: none;
}

section.breadcrumbs ul li {
    display: inline;
    margin-left: 0;
}

/*
 * Media query targetting large screen sizes such as desktops and laptops.
 */
@media (min-width: 1200px) {
    html, body {
        font-size: 24px;
    }

/*    body > header, body > main, body > footer { */
    body > header, body > footer {
        padding: 24px;
    }

    body > header {
        width: 250px;
    }

    body > main {
        margin: 0 0 0 calc(250px + 24px);
    }

    body header img {
        height: 250px;
        width: 250px;
    } 

    nav ul li {
        border-radius: 8px;
    }

    body article {
        top: 24px;
        height: calc(100% - 96px);
        margin: 0 24px;
        border-radius: 24px;
    }

    body article section {
        padding: 0 24px 24px 24px;
    }

    body > footer {
        width: calc(100% - 48px);
        height: 24px;
    }

    .selected {
/*        width: 225px; */
        width: calc(250px - 24px - 1px);
    }
}

/*
 * Media query targetting medium screen sizes such as tablets and small laptops/chromebooks.
 */
@media (max-width: 1199px) {
    html, body {
        font-size: 24px;
    }

/*    body > header, body > main, body > footer { */
    body > header, body > footer {
        padding: 12px;
    }

    body > header {
        width: 150px;
    }

    body > main {
        margin: 0 0 0 calc(150px + 24px);
    }

    body header img {
        height: 150px;
        width: 150px;
    }

    nav ul li {
        border-radius: 6px;
    }

    body article {
        top: 12px;
        height: calc(100% - 48px);
        margin: 0 12px;
        border-radius: 12px;
    }

    body article section {
        padding: 0 12px 12px 12px;
    }

    body > footer {
        width: calc(100% - 24px);
        height: 12px;
    }

    .selected {
/*        width: 87px; */
        width: calc(150px - 24px - 1px);
    }

    #name, #email, #subject, #message {
        width: 100%;
    }
}

/*
 * Media query targetting small screen sizes such as smartphones in landscape mode.
 */
@media (max-height: 500px) {
    html, body {
        font-size: 12px;
    }

/*    body > header, body > main, body > footer { */
    body > header, body > footer {
        padding: 8px;
    }

    body > header {
        width: 80px;
    }

    body > main {
        margin: 0 0 0 calc(80px + 12px);
    }

    body header img {
        height: 80px;
        width: 80px;
    }

    nav ul li {
        border-radius: 6px;
    }

    body article {
        top: 8px;
        height: calc(100% - 32px);
        margin: 0 8px;
        border-radius: 8px;
    }

    body article section {
        padding: 0 8px 8px 8px;
    }

    body > footer {
        width: calc(100% - 16px);
        height: 8px;
    }

    .selected {
/*        width: 71px; */
        width: calc(80px - 12px - 1px);
    }
}
