/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Sep-2014, 8:02:52 PM
    Author     : Konstantin Koton
*/

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

body > header, body > main, body > footer {
    padding: 16px;
}

body > header {
    float: left;
    width: 200px;
}

body > main {
    position: relative;
    display: block;
    height: 100%;
    margin: 0 0 0 216px;
    padding: 0;
/*    background: rgba(255, 0, 0, 0.5); */
}

body header img {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    border: 1px solid black;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 8px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: #cc6600;
}

body article {
    position: relative;
    top: 16px;
    height: calc(100% - 64px);
    margin: 0 16px;
    border: 1px solid black;
    border-radius: 16px;
/*    background: rgba(0, 0, 255, 0.5); */
}

body article section {
    padding: 16px;
/*    background: rgba(255, 0, 0, 0.5); */
}

body > footer {
    position: absolute;
    bottom: 0;
    height: 16px;
}